In [2]:
import pandas as pd 
path="/home/ilyes/Desktop/zindi"
traindf = pd.read_csv(path+"/Train_v2.csv")
testdf = pd.read_csv(path+"/Test_v2.csv")

In [5]:
X.tail(10)

,country,bank_account,location_type,cellphone_access,household_size,age_of_respondent,gender_of_respondent,relationship_with_head,marital_status,education_level,job_type
23514,3,0,0,1,1,0,0,1,0,3,0
23515,3,0,1,0,1,0,1,3,2,3,7
23516,3,0,0,1,0,1,1,0,0,3,0
23517,3,0,0,1,2,0,1,3,2,3,7
23518,3,0,1,1,2,0,0,3,2,3,9
23519,3,0,1,1,0,1,0,0,3,1,7
23520,3,0,1,1,0,0,0,0,2,0,7
23521,3,0,1,1,1,0,0,3,1,3,7
23522,3,0,0,1,2,0,0,3,3,0,0
23523,3,0,1,1,2,0,1,3,2,0,9

In [3]:
X=traindf.drop(['year'], axis=1)
X=X.drop(['uniqueid'], axis=1)

In [4]:
X["bank_account"]=X.bank_account.map( {"Yes": 1 , "No" : 0 })
X["cellphone_access"]=X.cellphone_access.map( {"Yes": 1 , "No" : 0 })
X["location_type"]=X.location_type.map( {"Rural": 1 , "Urban" : 0 })
X["gender_of_respondent"]=X.gender_of_respondent.map( {"Male": 1 , "Female" : 0 })
X["relationship_with_head"]=X.relationship_with_head.map( {"Head of Household": 0 , "Spouse" : 1 ,"Child" : 3  ,"Other relative" : 3 ,"Parent" : 3 ,"Other non-relatives" : 3  })
X["marital_status"]=X.marital_status.map( {"Married/Living together": 0 , "Widowed" : 1 , "Single/Never Married" : 2, "Divorced/Seperated" : 3 , "Dont know" : 4 })
X["education_level"]=X.education_level.map( {"Secondary education": 0 , "No formal education" : 1 , "Vocational/Specialised training" : 2, "Primary education" : 3 , "Tertiary education" : 4, "Other/Dont know/RTA" : 5 })
X["job_type"]=X.job_type.map( {"Self employed": 0 , "Government Dependent" : 1 , "Formally employed Private" : 2, "Informally employed" : 3 , "Formally employed Government" : 4, "Farming and Fishing" : 5 , "Remittance Dependent" : 6 , "Other Income" : 7 , "Dont Know/Refuse to answer" : 8 , "No Income" : 9 })
X["country"]=X.country.map( {"Kenya": 0 , "Rwanda" : 1, "Tanzania" : 2, "Uganda" : 3 })
X["age_of_respondent"]=X.age_of_respondent.map( lambda x: 0 if x<30.1 else ( 2 if (x>50.1) else 1) )
X["household_size"]=X.household_size.map( lambda x: 0 if x<4.1 else ( 2 if (x>6.1) else 1) )

In [122]:
x_test=X["bank_account"]
x_train=X.drop(['bank_account'], axis=1)

In [132]:
X=x_train
Y=x_test

In [130]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC

from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
k_fold = KFold(n_splits=10, shuffle=True, random_state=0)

import numpy as np

In [151]:
import xgboost as xgb
from sklearn.metrics import auc, accuracy_score, confusion_matrix, mean_squared_error

In [133]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.33,random_state=42)

In [153]:

xgb_model = xgb.XGBClassifier(objective="binary:logistic", random_state=42)
xgb_model.fit(X_train,Y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=42,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [155]:

y_pred = xgb_model.predict(X_train)

print(confusion_matrix(Y_train, y_pred))

[[13244   290]
 [ 1448   779]]

In [136]:
testdf = pd.read_csv(path+"/Test_v2.csv")

In [137]:
Y=testdf.drop(['year'], axis=1)
Y=Y.drop(['uniqueid'], axis=1)

In [139]:
Y["cellphone_access"]=Y.cellphone_access.map( {"Yes": 1 , "No" : 0 })
Y["location_type"]=Y.location_type.map( {"Rural": 1 , "Urban" : 0 })
Y["gender_of_respondent"]=Y.gender_of_respondent.map( {"Male": 1 , "Female" : 0 })
Y["relationship_with_head"]=Y.relationship_with_head.map( {"Head of Household": 0 , "Spouse" : 1 ,"Child" : 3  ,"Other relative" : 3 ,"Parent" : 3 ,"Other non-relatives" : 3  })
Y["marital_status"]=Y.marital_status.map( {"Married/Living together": 0 , "Widowed" : 1 , "Single/Never Married" : 2, "Divorced/Seperated" : 3 , "Dont know" : 4 })
Y["education_level"]=Y.education_level.map( {"Secondary education": 0 , "No formal education" : 1 , "Vocational/Specialised training" : 2, "Primary education" : 3 , "Tertiary education" : 4, "Other/Dont know/RTA" : 5 })
Y["job_type"]=Y.job_type.map( {"Self employed": 0 , "Government Dependent" : 1 , "Formally employed Private" : 2, "Informally employed" : 3 , "Formally employed Government" : 4, "Farming and Fishing" : 5 , "Remittance Dependent" : 6 , "Other Income" : 7 , "Dont Know/Refuse to answer" : 8 , "No Income" : 9 })
Y["country"]=Y.country.map( {"Kenya": 0 , "Rwanda" : 1, "Tanzania" : 2, "Uganda" : 3 })
Y["age_of_respondent"]=Y.age_of_respondent.map( lambda x: 0 if x<30.1 else ( 2 if (x>50.1) else 1) )
Y["household_size"]=Y.household_size.map( lambda x: 0 if x<4.1 else ( 2 if (x>6.1) else 1) )

In [140]:
Y.head()

,country,location_type,cellphone_access,household_size,age_of_respondent,gender_of_respondent,relationship_with_head,marital_status,education_level,job_type
0,0,0,1,0,0,1,0,0,0,4
1,0,0,1,2,2,1,0,0,2,2
2,0,1,0,0,2,0,3,0,1,6
3,0,1,0,1,1,0,0,0,3,6
4,0,0,0,0,0,1,3,2,0,6

In [156]:
pred = xgb_model.predict(Y)

In [157]:
subm=pd.DataFrame({
    "uniqueid":testdf["uniqueid"]+" x "+testdf["country"],
    "bank_account":pred
    })

In [158]:
subm.head()

                uniqueid  bank_account
0  uniqueid_6056 x Kenya             1
1  uniqueid_6060 x Kenya             1
2  uniqueid_6065 x Kenya             0
3  uniqueid_6072 x Kenya             0
4  uniqueid_6073 x Kenya             0

In [159]:
subm.to_csv(path +'/yooyo.csv',index=False)

In [72]:
j=0
for i in range(len(X)):
    if(X["relationship_with_head"][i]=="Other non-relatives"):
        if(X["bank_account"][i]==1):
            j=j+1

In [73]:
j

20

In [97]:
traindf['job_type'].describe()

count             23524
unique               10
top       Self employed
freq               6437
Name: job_type, dtype: object

In [105]:
d=dict()
for i in range(len(X)):
    x=X["country"][i]
    d[x]=1
d.keys()